.form {
    display: flex;
    gap: 10px;
}
  
.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.button-add {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
.button-add:hover {
    background-color: #45a049;
}
