.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
  .input-container {
    display: flex;
    gap: 10px;
    align-items: center;
}
  
  input[type="color"] {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    cursor: pointer;
}
  
  .textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 50px;
}
  
.button-add {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-add:hover {
    background-color: #45a049;
}
